@inherits ExampleProjects03PageBase

@page "/ExampleProjects03"

<MudText Typo="Typo.h3">Heart Rate on a TM1637 4 digits display</MudText>
<br />
<br />
<MudImage Src="./Projects/0003/WiringOverview.png" Width="1100" Class="rounded-lg"> </MudImage>
<br />
<br />
<br />
<MudText Typo="Typo.h5">Step 1 Prepare the Microcontroller</MudText>
<br />
<MudLink OnClick="@(() => OpenBrowserTab("FlashFirmware"))">Flash the IoTZoo firmware to the (ESP32) Microcontroller.</MudLink>
<br />
<br />
<br />
<MudText Typo="Typo.h5">Step 2 Prepare IotZoo</MudText>
<br />
<MudText>- Open IotZoo in Webbrowser</MudText>
<MudText>- Reboot ESP32, so that it registers into IotZoo.</MudText>
<MudText>- Navigate to &quot;Known Microcontrollers&quot;, select the Project.</MudText>
<MudText>- Click Symbol &quot;Configure connected Devices&quot; for the microcontroller.</MudText>
<MudText>- Click Button &quot;ADD TM1637 4 DIGIT DISPLAY&quot;.</MudText>
<MudText>- Click Button &quot;ADD BLE Heart Rate Sensor&quot;.</MudText>
<MudText>- Edit the associated pins or take the default settings.</MudText>
<br />
<p><MudImage Src="./Projects/0003/Wiring.png" Class="rounded-lg" Width="750" /></p>
<br />
<MudText Typo="Typo.h5">Step 3 Connect the cables between ESP32 and  the display</MudText>
<br />
<p>Power off the ESP32 and connect the cables as specified.</p>
<br />
<div style="width:300px">
   <MudAlert Severity="Severity.Warning">Never swap VCC with GND!</MudAlert>
</div>
<br />
<br />
<MudText Typo="Typo.h5">Step 4 Configure Rule</MudText>
<br />
<MudImage Src="./Projects/0003/Rule1.png" Elevation="25" Class="rounded-lg" Width="1000" />
<br />